<% provide(:about_active, 'active') %>
<h1>About</h1>

<div>This is a travelblog of Peep & Joanna. Here we are covering out travels in 'straya and Asia.<br><br>

	<p>You can contact us trough:</p>
	<p style="float: right;"><img src="http://4.bp.blogspot.com/-8He5aOB8gv8/VpijZ6VT_5I/AAAAAAAABRk/lDzh0UGMM4s/s400/592p%2B%2B07.01.16%2B%25286.2%2529%2BThe%2BReef%2Band%2BIsland%2BScenic%2BFlight%252C%2BQLD.JPG" alt="I'm on a plane" height="300" width="400">
	</p>

	<p>e-mail:</p>
	<p>Peep: Kuulme@hotmail.com</p>
	<p>Joanna: joanna@email.com</p>

	<p>Phone:</p>
	<p>Peep: 55555511</p>
	<p>Joanna: 55555522</p>

	<p>Or search on fb.</p>


